*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
header{
    height: 46px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}
ul.menu_list{
    display: flex;
    list-style: none;
    position: relative;
}
.menu_item{
    padding: 0 10px;
    min-width: 200px;
    text-align: center;
    color: yellow;
    font-weight: 600;
    line-height: 46px;
  
}
.menu_item:hover>.sub_list{
    display: block;
}

.sub_list_item:hover>.sub_list{
    display: block;
}

.sub_list_item>.sub_list{
    position: absolute;
    top: 0;
    left: 100%;
}
.sub_list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: aqua;
}
.sub_list_item{
    padding: 0 10px;
    position: relative;
    color: black;
    min-width: 200px;
}