CREATE DATABASE QuanLyDuAn
GO
USE QuanLyDuAn;
GO

-- Tạo bảng Đề Án
create table DEAN
(
	TENDA nvarchar(15),
	MADA int,
	DDIEM_DA nvarchar(15),
	PHONG int,
)

-- Tạo bảng Công Việc
create table CONGVIEC
(
	MADA int,
	STT int,
	TEN_CONG_VIEC nvarchar(50),
	
)

-- Tạo bảng Phòng Ban
create table PHONGBAN
(
	TENPHG nvarchar(15),
	MAPHG int,
	TRPHG char(9),
	NG_NHANCHUC date,
)

-- Tạo bảng Phân Công
create table PHANCONG
(
	MA_NVIEN  char(9),
	MADA int,
	STT int,
	THOIGIAN float,

)

-- Tạo bảng Thân Nhân
create table THANNHAN
(
	MA_NVIEN char(9),
	TENTN nvarchar(15),
	PHAI nvarchar(3),
	NGSINH date,
	QUANHE  nvarchar(15),
)

-- Tạo bảng Địa Điểm Phòng
create table DIADIEM_PHG
(
	MAPHG  int,
	DIADIEM nvarchar(15),
)

create table NHANVIEN (
	MANV CHAR(9), 
	HONV NVARCHAR(25),
	TENLOT NVARCHAR(25),
	TENNV NVARCHAR(25),
	NGSINH DATE,
	DCHI NVARCHAR(100),
	PHAI CHAR(5),
	LUONG MONEY,
	MA_NQL CHAR(9),
	PHG INT,
)

--CÂU 2
--KHÓA CHÍNH NHANVIEN
ALTER TABLE NHANVIEN
ALTER COLUMN MANV char(9) NOT NULL

ALTER TABLE NHANVIEN
ADD CONSTRAINT PR_NHANVIEN PRIMARY KEY (MANV)
--KHÓA CHÍNH DEAN
ALTER TABLE DEAN
ALTER COLUMN MADA int NOT NULL

ALTER TABLE DEAN
ADD CONSTRAINT PR_DEAN PRIMARY KEY (MADA)
--KHÓA CHÍNH PHONGBAN
ALTER TABLE PHONGBAN
ALTER COLUMN MAPHG int NOT NULL

ALTER TABLE PHONGBAN
ADD CONSTRAINT PR_PHONGBAN PRIMARY KEY (MAPHG)
--KHÓA CHÍNH CONGVIEC
ALTER TABLE CONGVIEC
ALTER COLUMN MADA int NOT NULL

ALTER TABLE CONGVIEC
ALTER COLUMN STT int NOT NULL

ALTER TABLE CONGVIEC
ADD CONSTRAINT PR_CONGVIEC PRIMARY KEY (MADA,STT)
--KHÓA CHÍNH PHANCONG
ALTER TABLE PHANCONG
ALTER COLUMN MA_NVIEN char(9) NOT NULL

ALTER TABLE PHANCONG
ALTER COLUMN MADA int NOT NULL

ALTER TABLE PHANCONG
ALTER COLUMN STT int NOT NULL

ALTER TABLE PHANCONG
ADD CONSTRAINT PR_PHANCONG PRIMARY KEY (MA_NVIEN,MADA,STT)
--KHÓA CHÍNH THANNHAN
ALTER TABLE THANNHAN
ALTER COLUMN MA_NVIEN char(9) NOT NULL

ALTER TABLE THANNHAN
ALTER COLUMN TENTN nvarchar(15) NOT NULL

ALTER TABLE THANNHAN
ADD CONSTRAINT PR_THANNHAN PRIMARY KEY (MA_NVIEN,TENTN)
--KHÓA CHÍNH DIADIEM_PHG
ALTER TABLE DIADIEM_PHG
ALTER COLUMN MAPHG int NOT NULL

ALTER TABLE DIADIEM_PHG
ALTER COLUMN DIADIEM nvarchar(15) NOT NULL

ALTER TABLE DIADIEM_PHG
ADD CONSTRAINT PR_DIADIEM_PHG PRIMARY KEY (MAPHG,DIADIEM)

--KHÓA PHỤ
ALTER TABLE NHANVIEN
ADD CONSTRAINT FK_NHANVIEN_PRODUCTS FOREIGN KEY (PHG) REFERENCES PHONGBAN (MAPHG),
	CONSTRAINT FK_NHANVIEN_CUSTOMERS FOREIGN KEY (MA_NQL) REFERENCES NHANVIEN (MANV)

ALTER TABLE PHONGBAN
ADD CONSTRAINT FK_PHONGBAN FOREIGN KEY (TRPHG) REFERENCES NHANVIEN (MANV)

ALTER TABLE DIADIEM_PHG
ADD CONSTRAINT FK_DDPHG FOREIGN KEY (MAPHG) REFERENCES PHONGBAN (MAPHG)

ALTER TABLE DEAN
ADD CONSTRAINT FK_DEAN FOREIGN KEY (PHONG) REFERENCES PHONGBAN (MAPHG)

ALTER TABLE CONGVIEC
ADD CONSTRAINT FK_CONGVIEC FOREIGN KEY (MADA) REFERENCES DEAN (MADA)
	
ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PHANCONG_DA FOREIGN KEY (MADA) REFERENCES DEAN (MADA),
	CONSTRAINT FK_PHANCONG_NV FOREIGN KEY (MA_NVIEN) REFERENCES NHANVIEN (MANV)

ALTER TABLE THANNHAN
ADD CONSTRAINT FK_THANNHAN FOREIGN KEY (MA_NVIEN) REFERENCES NHANVIEN (MANV)

--CÂU 3 ĐÃ CHẠY

--CÂU 4
INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Nguyễn',N'Thanh',N'Trúc','004','1/1/2000',N'200 Cống Quỳnh Q1 TP HCM',N'Nữ',1000,Null,Null)

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Nguyễn',N'Thanh',N'Trúc','004','1/1/2000',N'200 Cống Quỳnh Q1 TP HCM',N'Nữ',1000,Null,Null)

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Nguyễn',N'Thanh',N'Trúc','005','1/1/2000',N'200 Cống Quỳnh Q1 TP HCM',N'Nữ',1000,Null,Null)



--CÂU 5
ALTER TABLE NHANVIEN
ADD CONSTRAINT CK_NV_PHAI
CHECK (PHAI IN (N'NAM', N'NỮ'))

--CÂU 6
ALTER TABLE DEAN
ADD CONSTRAINT UQ_DEAN
UNIQUE (TENDA)

insert into DEAN (TENDA, MADA, DDIEM_DA, PHONG)
values (N'MÁY TÍNH', 5, N'Hồ Chí Minh', NULL)

-- Lỗi UNIQUE khác MADA nhưng trùng TENDA
insert into DEAN (TENDA, MADA, DDIEM_DA, PHONG)
values (N'MÁY TÍNH', 7, N'Hồ Chí Minh', NULL)

--CÂU 7
ALTER TABLE NHANVIEN
ADD NGAYVAOLAM DATE

ALTER TABLE NHANVIEN
ADD CONSTRAINT DF_NHANVIEN
DEFAULT GETDATE() FOR NGAYVAOLAM



--CÂU 8
ALTER TABLE NHANVIEN
ADD CONSTRAINT CK_NHANVIEN
CHECK (NGSINH < NGAYVAOLAM)

--CÂU 9: cài đặt RULE > 0, gán cho MAPHG
CREATE RULE GREATER_THAN_ZERO
AS @VALUE > 0

EXEC SP_BINDRULE 'GREATER_THAN_ZERO', 'PHONGBAN.MAPHG'

--CÂU 10: tạo RULE tuoi >= 18 và gán cho NGSINH của nhân viên
CREATE RULE GREATER_THAN_OR_EQUAL_EIGHTEEN
AS YEAR(GETDATE() - @NGAY) - 1900 >= 18

EXEC SP_BINDRULE 'GREATER_THAN_OR_EQUAL_EIGHTEEN', 'NHANVIEN.NGSINH'

--CÂU 11: gỡ ràng buộc RULE giá trị > 0 trên thuộc tính MAPHG
EXEC SP_UNBINDRULE 'PHONGBAN.MAPHG'

--CÂU 12: xóa RULE giá trị > 0
DROP RULE GREATER_THAN_ZERO

--CÂU 13: vô hiệu hóa ràng buộc NGSINH < NGAYVAOLAM
ALTER TABLE NHANVIEN
NOCHECK CONSTRAINT CK_NHANVIEN

--CÂU 14: xóa ràng buộc NGSINH < NGAYVAOLAM
ALTER TABLE NHANVIEN
DROP CONSTRAINT CK_NHANVIEN

--CÂU 15: vô hiệu hóa khóa ngoại của bảng NHANVIEN
ALTER TABLE NHANVIEN
NOCHECK CONSTRAINT FK_NHANVIEN_NQL

ALTER TABLE NHANVIEN
NOCHECK CONSTRAINT FK_NHANVIEN_PHG

--CÂU 16: kích hoạt lại khóa ngoại của bảng NHANVIEN
ALTER TABLE NHANVIEN
WITH CHECK CHECK CONSTRAINT FK_NHANVIEN_NQL

ALTER TABLE NHANVIEN
WITH CHECK CHECK CONSTRAINT FK_NHANVIEN_PHG

--CÂU 17: vô hiệu hóa PRIMARY KEY của bảng NHANVIEN
ALTER TABLE NHANVIEN
NOCHECK CONSTRAINT PK_NHANVIEN
--CÂU 18
CREATE TABLE KHACHHANG(
	MAKH NVARCHAR(5) PRIMARY KEY,
	TENKH NVARCHAR(30),
	DIACHI NVARCHAR(50),
	DT NVARCHAR(15),
	EMAIL NVARCHAR(30)
)
ALTER TABLE KHACHAHNG
ALTER COLUMN MAKH NVARCHAR(5) NOT NULL

ALTER TABLE KHACHHANG
ADD CONSTRAINT CK_KHACHHANG CHECK (LEN(DT)>=8)


CREATE TABLE VATTU(
	MAVT NVARCHAR(5) PRIMARY KEY,
	TENVT NVARCHAR(30),
	DVT NVARCHAR(20),
	GIAMUA NVARCHAR(20),
	SLTON NUMERIC(20)
)
ALTER TABLE VATTU
ALTER COLUMN MAVT NVARCHAR(5) NOT NULL

ALTER TABLE VATTU
ADD CONSTRAINT CK_VATTU CHECK (GIAMUA > 0 AND SLTON >= 0)
 
CREATE TABLE HOADON(
	MAHD NVARCHAR(10),
	NGAY DATE,
	MAKH NVARCHAR(5),
	TONGTG NUMERIC(20)
)

ALTER TABLE HOADON
ADD CONSTRAINT CK_HOADON CHECK (NGAY < GETDATE())

CREATE TABLE CHITIETHOADON(
	MAHD NVARCHAR(10),
	MAVT NVARCHAR(5),
	SL NVARCHAR(20),
	KHUYENMAI NUMERIC(20),
	GIABAN NUMERIC(20)
)

ALTER TABLE CHITIETHOADON
ADD CONSTRAINT CK_CTHD CHECK (SL > 0)

--CÂU 19 ĐÃ LÀM
CREATE TABLE SINHVIEN (
	MASV CHAR(10) NOT NULL PRIMARY KEY, 
	HOSV NVARCHAR(20),
	TENLOT NVARCHAR(20),
	TENSV NVARCHAR(20),
	DT VARCHAR(11),
	DCHI NVARCHAR(100),
	NGAYSINH DATE,
	MALOP NVARCHAR(10)
)
--CÂU 20
ALTER TABLE SINHVIEN
ADD CONSTRAINT CK_SINHVIEN CHECK ((YEAR(GETDATE()) - YEAR(NGAYSINH)) <= 35)

ALTER TABLE SINHVIEN
ADD NGAYNHAPHOC DATE DEFAULT '2020-9-5'
