USE [master]
GO
/****** Object:  Database [banhang]    Script Date: 11/05/2020 12:49:40 ******/
CREATE DATABASE [banhang] ON  PRIMARY 
( NAME = N'banhang', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\banhang.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'banhang_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\banhang_log.LDF' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [banhang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [banhang]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 11/05/2020 12:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nhanvien](
	[MaNV] [int] NOT NULL,
	[HoNV] [nvarchar](30) NULL,
	[TenNV] [nvarchar](30) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Phone] [varchar](24) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[nhanvien] ([MaNV], [HoNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Phone]) VALUES (1, N'Davolio', N'Nancy', NULL, CAST(0x000045D100000000 AS DateTime), N'507 - 20th Ave. E.
Apt. 2A Seattle', N'(206) 555-9857')
INSERT [dbo].[nhanvien] ([MaNV], [HoNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Phone]) VALUES (2, N'Fuller', N'Andrew', NULL, CAST(0x00004A6100000000 AS DateTime), N'908 W. Capital Way Tacoma', N'(206) 555-9482')
INSERT [dbo].[nhanvien] ([MaNV], [HoNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Phone]) VALUES (3, N'Leverling', N'Janet', NULL, CAST(0x00005AD300000000 AS DateTime), N'722 Moss Bay Blvd. Kirkland', N'(206) 555-3412')
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/05/2020 12:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] NOT NULL,
	[TenNcc] [nvarchar](100) NULL,
	[Diachi] [nvarchar](100) NULL,
	[Phone] [varchar](24) NULL,
	[SoFax] [varchar](24) NULL,
	[DCMail] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNcc], [Diachi], [Phone], [SoFax], [DCMail]) VALUES (1, N'Exotic Liquids', N'49 Gilbert St. London', N'(171) 555-2222', NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNcc], [Diachi], [Phone], [SoFax], [DCMail]) VALUES (2, N'New Orleans Cajun Delights', N'P.O. Box 78934 New Orleans', N'(100) 555-4822', NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNcc], [Diachi], [Phone], [SoFax], [DCMail]) VALUES (3, N'Grandma Kelly''s Homestead', N'707 Oxford Rd. Ann Arbor', N'(313) 555-5735', N'(313) 555-3349', NULL)
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/05/2020 12:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKh] [char](5) NOT NULL,
	[TenKh] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Phone] [varchar](24) NULL,
	[SoFax] [varchar](24) NULL,
	[DCMail] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [DiaChi], [Phone], [SoFax], [DCMail]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Obere Str. 57 Berlin', N'030-0074321', N'030-0076545', NULL)
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [DiaChi], [Phone], [SoFax], [DCMail]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Avda. de la Constitución 2222 México D.F.', N'(5) 555-4729', N'(5) 555-3745', NULL)
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [DiaChi], [Phone], [SoFax], [DCMail]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Mataderos  2312 México D.F.', N'(5) 555-3932', NULL, NULL)
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/05/2020 12:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSp] [int] NOT NULL,
	[TenSp] [nvarchar](100) NULL,
	[MoTa] [nvarchar](200) NULL,
	[Donvitinh] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[mancc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [MoTa], [Donvitinh], [SoLuong], [DonGia], [mancc]) VALUES (1, N'Chai', N'10 boxes x 20 bags', NULL, 39, 18.0000, 1)
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [MoTa], [Donvitinh], [SoLuong], [DonGia], [mancc]) VALUES (2, N'Chang', N'24 - 12 oz bottles', NULL, 17, 19.0000, 1)
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [MoTa], [Donvitinh], [SoLuong], [DonGia], [mancc]) VALUES (3, N'Aniseed Syrup', N'12 - 550 ml bottles', NULL, 13, 10.0000, 1)
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/05/2020 12:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] NOT NULL,
	[NgayLapHD] [datetime] NULL,
	[MaNV] [int] NULL,
	[NoiChuyen] [nvarchar](50) NULL,
	[MaKh] [char](5) NULL,
	[LoaiHD] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [NoiChuyen], [MaKh], [LoaiHD]) VALUES (10248, CAST(0x000089B000000000 AS DateTime), 5, NULL, N'VINET', N'X')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [NoiChuyen], [MaKh], [LoaiHD]) VALUES (10249, CAST(0x000089B100000000 AS DateTime), 6, NULL, N'TOMSP', N'X')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [NoiChuyen], [MaKh], [LoaiHD]) VALUES (10250, CAST(0x000089B400000000 AS DateTime), 4, NULL, N'HANAR', N'X')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 11/05/2020 12:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[MaHD] [int] NOT NULL,
	[MaSp] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ChietKhau] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSp] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaSp], [SoLuong], [DonGia], [ChietKhau]) VALUES (10248, 11, 12, 14.0000, 0.0000)
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaSp], [SoLuong], [DonGia], [ChietKhau]) VALUES (10248, 42, 10, 9.8000, 0.0000)
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaSp], [SoLuong], [DonGia], [ChietKhau]) VALUES (10248, 72, 5, 34.8000, 0.0000)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
/****** Object:  ForeignKey [FK__SanPham__mancc__182C9B23]    Script Date: 11/05/2020 12:49:41 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([mancc])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
/****** Object:  ForeignKey [FK__HoaDon__MaKh__145C0A3F]    Script Date: 11/05/2020 12:49:41 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
/****** Object:  ForeignKey [FK__HoaDon__MaNV__15502E78]    Script Date: 11/05/2020 12:49:41 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[nhanvien] ([MaNV])
GO
/****** Object:  ForeignKey [FK__CT_HoaDon__MaHD__164452B1]    Script Date: 11/05/2020 12:49:41 ******/
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
/****** Object:  ForeignKey [FK__CT_HoaDon__MaSp__173876EA]    Script Date: 11/05/2020 12:49:41 ******/
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD FOREIGN KEY([MaSp])
REFERENCES [dbo].[SanPham] ([MaSp])
GO
